<div class="row">
  <div class="col-sm-6 offset-sm-3">
    <a href="{{post.url}}" class="lead">{{post.title}}</a>
    <p>{{post.summary}}</p>
    <p>By: {{post.author.username}}</p>
    <form action="/posts/{{post._id}}/comments" method="POST">
      <div class="mb-3">
        <textarea class='form-control' name="content" placeholder="Comment"></textarea>
      </div>
      <div class="text-end mb-3">
        <button type="submit" class="btn btn-primary">Comment</button>
      </div>
    </form>
    {{#if post.comments}}
      <p>Comments:</p>
      <ul>
        {{#each post.comments}}
          <li class="mb-3">"{{this.content}}"</li>
          <div class="text-end mb-3">
            <p>By: {{this.author.username}} <small>({{this.createdAt}})</small></p>
            <a href="/posts/{{../post._id}}/comments/{{this._id}}/replies/new">Reply</a>
          </div>
        {{/each}}
      </ul>
    {{else}}
      <p>No Comments Yet</p>
    {{/if}}
  </div>
</div>