<div class="row">
  <div class="col-sm-10 offset-sm-1 col-lg-8 offset-lg-2">
    <ul class="list-group">
      {{#each posts}}
        <li class="list-group-item">
          <div class="lead">
            <a href="/posts/{{this._id}}">{{this.title}}</a>
          </div>
          <a href="{{this.url}}" target="_blank">{{this.url}}</a>
          <div><small>By: {{this.author.username}}</small></div>
          <div class="text-end">
            <a href="/n/{{this.subreddit}}">{{this.subreddit}}</a>
          </div>
        </li>
      {{/each}}
    </ul>
  </div>
</div>